hibernate.connection.driver_class=com.mysql.cj.jdbc.Driver
hibernate.connection.url=jdbc:mysql://localhost:3306/YOUR_DB_NAME
hibernate.connection.username=YOUR_USERNAME
hibernate.connection.password=YOUR_PASSWORD